:root {
  /* Colors: */
  /* Primary: */
  --scissors-gradient-start: hsl(39, 89%, 49%);
  --scissors-gradient-end: hsl(40, 84%, 53%);
  --paper-gradient-start: hsl(230, 89%, 62%);
  --paper-gradient-end: hsl(230, 89%, 65%);
  --rock-gradient-start: hsl(349, 71%, 52%);
  --rock-gradient-end: hsl(349, 70%, 56%);
  --lizard-gradient-start: hsl(261, 73%, 60%);
  --lizard-gradient-end: hsl(261, 72%, 63%);
  --cyan-gradient-start: hsl(189, 59%, 53%);
  --cyan-gradient-end: hsl(189, 58%, 57%);
  /* Neutral: */
  --dark-text: hsl(229, 25%, 31%);
  --score-text: hsl(229, 64%, 46%);
  --header-outline: hsl(217, 16%, 45%);
  /* Background: */
  --radial-gradient-start: hsl(214, 47%, 23%);
  --radial-gradient-end: hsl(237, 49%, 15%);

  /* Typography: */
  --font-size: 14px;
  --font-weight-normal: 600;
  --font-weight-bold: 700;

  /* Layout: */
  --mobile: 375px;
  --desktop: 1366px;

  --duration: .2s;

  --width: 170px;
}

* {
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 100vh; */
  margin: 0;
  padding-top: 30px;
  padding-right: 20px;
  padding-left: 20px;
  font-family: sans-serif;
  color: white;
  font-size: var(--font-size);
  font-weight: var(--font-weight-normal);
  background: linear-gradient(to right, hsl(214, 47%, 23%), hsl(237, 49%, 15%));
}

h1,
h2,
h3,
p {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  padding: 0;
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*==========*/
/* header   */
/*==========*/

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 300px;
  margin-bottom: 40px;
  padding: 14px;
  border: 2px solid var(--header-outline);
  border-radius: 8px;
}

.header__title {
  font-size: 20px;
  line-height: 18px;
}

.header__score {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 24px;
  background-color: #fff;
  border-radius: 4px;
}

.header__score-text {
  /* margin-bottom: 3px; */
  font-size: 8px;
  color: var(--score-text);
  letter-spacing: 1px;
}

.header__score-count {
  font-size: 30px;
  color: var(--dark-text);
}

/*==========*/
/* main     */
/*==========*/

/* .main {
  display: grid;
  grid-template-columns: repeat(4, calc(var(--width) / 2));
  gap: 50px;
  justify-items: center;
  justify-content: center;
  background-image: url('/public/images/bg-triangle.svg');
  background-repeat: no-repeat;
  background-position: center center;
} */

.main__buttons {
  display: grid;
  grid-template-columns: repeat(4, calc(var(--width) / 2));
  gap: 50px;
  justify-items: center;
  justify-content: center;
  background-image: url('/public/images/bg-triangle.svg');
  background-repeat: no-repeat;
  background-position: center center;
}

.main__buttons.bonus {
  background-image: url('/public/images/bg-pentagon.svg');
}

/*==========*/
/* button   */
/*==========*/

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: var(--width);
  height: var(--width);
  border-radius: 50%;
}

.button:nth-child(1) {
  grid-column: 1/3;
}
.button:nth-child(2) {
  grid-column: 2/4;
  grid-row: 2/3;
}
.button:nth-child(3) {
  grid-column: 3/5;
}

.main__buttons.bonus {
  grid-template-columns: repeat(8, calc(var(--width) / 4));
  grid-template-rows: repeat(8, calc(var(--width) / 4));
  gap: 25px;
}
.bonus .button:nth-child(1) {
  grid-column: 4/6;
}
.bonus .button:nth-child(2) {
  grid-column: 1/4;
  grid-row: 3/5;
}
.bonus .button:nth-child(3) {
  grid-column: 6/9;
  grid-row: 3/5;
}
.bonus .button:nth-child(4) {
  grid-column: 3/4;
  grid-row: 6/7;
}
.bonus .button:nth-child(5) {
  grid-column: 6/7;
  grid-row: 6/7;
}

.button:active {
  opacity: 0.9;
}

.button__inner {
  display: flex;
  align-items: center;
  justify-content: center;
  width: calc(var(--width) - 50px);
  height: calc(var(--width) - 50px);
  background-color: #fff;
  border-radius: 50%;
  box-shadow: inset 0px 8px 0px rgba(149, 149, 149, 0.4);
}

.button__icon {
  transform: scale(1);
}

/*==========*/
/* picked   */
/*==========*/

.picked {
  display: grid;
  /* grid-template-columns: 1fr 1fr; */
  /* grid-template-columns: 1fr 100px 1fr; */
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  align-items: center;
  /* gap: 100px; */
}

.picked__block {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.picked__block:first-child {
  grid-column: 1/2;
}

.picked__block:last-child {
  grid-column: 3/4;
}

.picked__title {
  margin-bottom: 20px;
  text-align: center;
  font-size: 14px;
  letter-spacing: 1px;
  font-weight: var(--font-weight-normal);
}

.picked__circle {
  margin-top: calc(50px);
  width: calc(var(--width) / 2);
  height: calc(var(--width) / 2);
  background-color: #1417388f;
  border-radius: 50%;
}

.picked__result {
  margin-bottom: 20px;
  font-size: 28px;
  text-align: center;
}

.picked__button {
  padding: 10px 40px;
  color: rgb(185, 13, 13);
  font-size: 10px;
  font-weight: var(--font-weight-bold);
  letter-spacing: 1px;
  background-color: #fff;
  border-radius: 4px;
}

/*========*/
/* RULES  */
/*========*/

.main__btns {
  position: absolute;
  bottom: 30px;
  right: 30px;
  display: flex;
  gap: 20px;
}

.mode__button,
.rules__button {
  padding: 12px 28px;
  font-size: 14px;
  letter-spacing: 1px;
  color: white;
  border: 1px solid white;
  border-radius: 8px;
}

.rules__modal {
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 20px;
  padding-left: 20px;
  background-color: rgba(30, 23, 23, 0.4);
}

.rules__container {
  width: fit-content;
  height: fit-content;
  padding: 44px 40px 30px;
  color: #404365;
  background-color: #fff;
  border-radius: 10px;
}

.rules__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;
}

.rules__header h2 {
  font-size: 30px;
  font-stretch: condensed;
}


@media (max-width: 600px) {
  :root {
    --width: 100px;
  }

  .header {
    margin-bottom: 20px;
  }

  .main__buttons {
    padding-top: 30px;
    background-size: 200px;
  }
  .button__inner {
    width: calc(var(--width) - 30px);
    height: calc(var(--width) - 30px);
  }

  .button__icon {
    transform: scale(0.7);
  }

  .picked__title {
    font-size: 10px;
  }
  .picked__result {
    margin-bottom: 3px;
    font-size: 14px;
  }
  .picked__button {
    padding: 10px 10px;
  }
}

@media (max-width: 350px) {

  .main__btns {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

}